




<div class="container">
<div class="question">
<%= @question %>
<div class= "you">-You</div>
</div>
<div class="answer">
<div class="answer2">
<b><%= @answer %></b>
</div>
<div class="coach">-Your Coach</div>
</div>
<div class="link">
<%= link_to "Ask a new question", "/ask" %>
</div>
</div>
